/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
p {
  font-size: 1.8rem;
}
button {
  background-color: #4CAF50;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.header-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: black;
  opacity: 0.4;
}
.header-home h3 {
  width: 30%;
  color: white;
}
.header-home nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.header-home nav a {
  margin-left: 25px;
  color: white;
  padding: 3px;
  border-bottom: 2px solid black;
}
.header-home nav a:hover {
  border-bottom: 2px solid white;
}
body {
  background-color: #f7f1ea;
  height: 800px;
}
.container-home {
  background-image: url("/sleep4good/imgs/home-travel.jpg");
}
.container-home .section-main-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 560px;
  color: #fffcf8;
}
.container-home .section-main-home div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.container-home .section-main-home h1 {
  margin-bottom: 20px;
}
.container-home .section-main-home h3 {
  width: 60%;
}
.container-home .aside-form-home {
  position: absolute;
  top: 120px;
  right: 180px;
  height: 600px;
  width: 400px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #424242;
  border: 2px solid #383838;
  background-color: #fdf6ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-home .aside-form-home h3 {
  width: 90%;
  margin-left: 10px;
  font-size: 2.4rem;
}
.container-home .aside-form-home img {
  width: 90%;
  height: 200px;
  margin: 20px 0;
}
.container-home .aside-form-home form {
  width: 80%;
}
.container-home .aside-form-home form input {
  width: 100%;
  margin-bottom: 10px;
}
.container-home .aside-form-home button {
  width: 48%;
}
.section-bottom-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 20px;
}
.section-bottom-home p {
  margin-top: 5px;
}
.section-bottom-home div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 10px;
}
.section-bottom-home input[type="text"] {
  width: 70%;
  font-size: 1.8rem;
  height: 36px;
}
.section-bottom-home button {
  height: 36px;
  border-radius: 0 5px 5px 0;
  line-height: 0.8rem;
}
