body {
    background-color: rgb(247, 241, 234);
    height: 800px;
}

.container-home {
    background-image: url("/sleep4good/imgs/home-travel.jpg");
    

    .section-main-home {
        .flex(@justify: flex-start);
        height: 560px;
        color: rgb(255, 252, 248);

        div {
            .flex(@direction: column;);
            width: 60%;
        }

        h1 {
            margin-bottom: 20px;
        }

        h3 {
            width: 60%;
        }
    }

    .aside-form-home {
        position: absolute;
        top: 120px;
        right: 180px;
        height: 600px;
        width: 400px;
        border-radius: 6px;
        box-shadow: 5px 5px 5px rgb(66, 66, 66);
        border: 2px solid rgb(56, 56, 56);
        background-color: rgb(253, 246, 236);
        .flex(@direction: column;);

       h3 {
           width: 90%;
           margin-left: 10px;
           font-size: 2.4rem;
       }

       img {
           width: 90%;
           height: 200px;
           margin: 20px 0;
       }

        form {
            width: 80%;

            input {
                width: 100%;
                margin-bottom: 10px;
            }

        }

        button {
            width: 48%;
        }
    }
}

.section-bottom-home {
    .flex(@direction: column;);
    width: 60%;
    margin: 20px;

    p {
        margin-top: 5px;
    }

    div {
        .flex();
        width: 60%;
        margin-top: 10px;
    }
    input[type="text"] {
        width: 70%;
        font-size: 1.8rem;
        height: 36px;
    }

    button {
        height: 36px;
        border-radius: 0 5px 5px 0;
        line-height: 0.8rem;
    }
}